.register-body{
    background-color: black;
    padding-top: 15%;
    text-align: center;
}

.container{
    background-color: aqua;
    width: 50%;
    text-align: center;
    margin:0px auto;
    border-style: inset;
    border-radius: 100px;
}

#borde{
    background-color: aquamarine;
    margin:0px auto;
    width: 90%;
    border-style: inset;
    border-radius: 100px;
}

body{
    background-color: black;
}

button {
	cursor: pointer;
	border-radius: 5px;
	width: 200px;
	padding: 4px;
	background: #0095f6;
	font-weight: 600;
	color: white;
	border: 1px solid transparent;
}
