div.header h1{
	text-align: center;
	padding: 0px;
	margin: auto;
}

div.user p{
	text-align: right;
	padding-right: 10%;
	
	font-size: 20px;
}

a{
	text-decoration:none;
	font-size: 17px;
}


div.user{
	background-color: aqua;
}


.header{
	height: 120px;
	background-color: #368600e0;
}

.titulo{
	
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 35px;
	display: flex;
}

body{	
	margin: 0px;
	padding: 0px;
}

.sidebar{
	
	background-color: rgb(122, 121, 121);
	width: 15%;
	text-align: center;
	padding-left: 2%;
}

.sidebar p{
	border-style:inset;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	width: 80%;
}

.content-body{
	background-color: rgba(255, 217, 0, 0.09);
	height: auto;
	text-align: center;
}

.contenido{
	border-style: inset;
}

.box{
	background-color: rgba(173, 0, 0, 0.115);
}

#navegador { 
	background-color: #235800; 
	padding: 0.5em; 
	
}

#navegador li { 
	margin: 0px 5px; 
	padding: 0.1em 1em 0.5em 1em; 
    background-color: #388d00; 
	width: 12%;float: left;
    list-style-type: none; 
	position: relative; 
	border-style: inset;
}

#subseccion1, #subseccion2, #subseccion3, #subseccion4, #subseccion5 { 
	position: absolute; top: 100%; left: 0px;  
	background-color: rgba(0, 0, 0, 0.46); 
	font:normal 0.8em arial;     
	padding: 0.2em 0.5em ; 
	display: none; 
	font-size: 15px;
	
}

#navegador li:hover { 
	background-color: #d9ff0025; 
}

#navegador li a:link, #navegador li a:visited { 
    color: #fff700; 
	text-decoration: none; 
	
}

#navegador li a:hover, #navegador li a:active { 
    color:#000000 ; 
	text-decoration: none; 
}

.borrar { 
	clear: both; 
}	

#seccion4, #seccion3, #seccion2, #seccion1{
	text-align: center;
}

div > p#apartado{
	text-align: right;
	padding-right: 30px;
	border-style: inset;
	width: 90px;
	background-color: #388d00;
}

p > a{
	color: yellow;
}

img{
	height: 100px;
	width: 100px;
}