p{
	color: red;
	text-decoration: underline;
}

#divPadre {
    width:100%;
     text-align:center;
}
#divHijo {
    height:50px;
    width:400px;
     margin:0px auto;
}

#table_user{
	cursor: pointer;
	border-radius: 5px;
	width: 200px;
	padding: 4px;
	background: #0095f6;
	font-weight: 600;
	color: white;
	border: 1px solid transparent;
}

#button {
	cursor: pointer;
	border-radius: 5px;
	width: 200px;
	padding: 4px;
	background: #0095f6;
	font-weight: 600;
	color: white;
	border: 1px solid transparent;
}
