#izq{
    width: 40%;
    
    float: left;
    height: auto;
    margin-right: 1em;
    
}

#der{
   
    width: 50%;
    
    float: left;
    height: auto;

}


#iconoError{
    width:300px;
    height: 300px;
    margin-left: 50%;
    margin-top: 40%;
}

#TextoGrande{
    margin-top: 34%;
    font-size: 70px;
    margin-left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    
}

#TextoChico{
    font-size: 30px;
    margin-left: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#codError{
    margin-left: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: grey;
}

